<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @professor_review.content %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @professor_review.professor %>
</p>

<%= link_to 'Edit', edit_professor_review_path(@professor_review) %> |
<%= link_to 'Back', professor_reviews_path %>
