<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Teaching</th>
            <th scope="col">Review</th>
        </tr>
    </thead>
    <tbody>
        <% @professors.each do |professor| %>
        <tr>
        <td><%= link_to professor.full_name, "/professors/#{professor.id}" %></td>
        <td><%= pluralize professor.courses.size, 'course' %></td>
        <td><%= pluralize professor.professor_reviews.size, 'review' %></td>
    </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
