<!DOCTYPE html>
<html>
  <head>
    <title>PennCourseReviewLight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Penn Course Review Lite', '/' %> |
    <%= link_to 'Courses', '/courses' %> |
    <%= link_to 'Students', '/students' %> |
    <%= link_to 'Professors', '/professors' %>

    <%= yield %>
  </body>
</html>
